.file-drop {
    background:#fff;
    margin:auto;
    padding:200px 200px;
    border:2px solid #333;
}
.file-drop_dragover {
    border:2px dashed #333;
}
.file-drop__input {
    border:0;
}

.doc-field{
    color: blue;
}

.not-valid{
    color: red;
}